<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <%= render 'shared/errors', modelo: @article %>
  <% end %>
  <div class="form-group">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
   
  <div class="form-group">
    <%= f.label :text, "Texto del artículo" %>
    <%= f.text_area :text, class: "form-control", rows: "10" %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Texto del artículo" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
   
  <div class="text-center">
    <%= f.submit "Guardar artículo", class: "btn btn-primary " %>
  </div>
    

<% end %>


