



  <div class="text-center content-title"><h2>Nuevos super articulos</h2></div>

  <div class="container">

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">

      <% @articles.each do |article| %>

        <%= render 'articles/article_teaser', article: article %>

      <% end %>

    </div>



    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

      <div class="last-articles">

        <h2>Ultimos articulos</h2>

        <% @last_articles.each do |article| %>

        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="list-group">

              <%= link_to article, class: "list-group-item" do %>

              <h4 class="list-group-item-heading"><%= article.title %></h4>
              <p class="list-group-item-text"><%=  article.created_at.strftime("%F - %T ") %></p>

              <% end %>

            </div>
          </div>
        </div>
        <% end %>

      </div>

      <div class="most-commented">

        <h2>Más comentados</h2>

        <% @most_commented.each do |article| %>



        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="list-group">

              <%= link_to article, class: "list-group-item" do %>

              <span class="badge"><%=  article.comments.count %></span>
              <h4 class="list-group-item-heading"><%= article.title %></h4>
              <p class="list-group-item-text"><%=  article.created_at.strftime("%F - %T ") %></p>

              <% end %>

            </div>
          </div>
        </div>
        <% end %>

      </div>

    </div>
  </div>


