<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,700,300' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default article-navbar" role="navigation">


    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("S", root_path , class: "navbar-brand logo-article") %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-left">



        <li><span class="nav-author"><%= image_tag Gravatar.new("mixergutierrez@gmail.com").image_url(s: 35), class: "img-circle navbar-btn" %> <%= @article.user.name %> el <%= @article.created_at.strftime("%e de %b")  %></span></li>


      </ul>


      <ul class="nav navbar-nav navbar-right">

              <% if user_signed_in? %>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <%= image_tag Gravatar.new(current_user.email).image_url(s: 40), class: "img-circle" %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <% if current_user.is_writer %>
                      <li><%= link_to "Mis artículos", my_articles_path %></li>
                    <% end %>
                    <li><%= link_to "Ajustes de cuenta", edit_user_registration_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-default navbar-btn btn-medium" %></li>
              <% end %>


<!--         <li class="recommender"><%#= image_tag Gravatar.new("mixergutierrez@gmail.com").image_url(s: 35), class: "img-circle navbar-btn" %></li>
        <li class="recommender"><%#= image_tag Gravatar.new("mixergutierrez@gmail.com").image_url(s: 35), class: "img-circle navbar-btn" %></li>
        <li class="recommender"><%#= image_tag Gravatar.new("mixergutierrez@gmail.com").image_url(s: 35), class: "img-circle navbar-btn" %></li>
        <li class="recommender"><%#= image_tag Gravatar.new("mixergutierrez@gmail.com").image_url(s: 35), class: "img-circle navbar-btn" %></li>
        <li class="recommender"><%#= image_tag Gravatar.new("mixergutierrez@gmail.com").image_url(s: 35), class: "img-circle navbar-btn" %></li>

        <li class="navbar-btn reading-time">8 min</li>
        <li><%#= image_tag Gravatar.new(current_user.email).image_url(s: 35), class: "img-circle navbar-btn" %></li> -->

      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="article-image">
  <!-- <img src="https://unsplash.imgix.net/reserve/PPE2xapKRNyy2DlTt89F_Gutman_island.jpg?q=75&fm=jpg&s=d65d0e7f397d2a59c93dbd0aa4b29603" alt="..." height="700" width="100%" > -->
  <%= image_tag @article.try(:image), { height: "700", width: "100%" } %>

  <div class="image-cover"></div>
  <div class="article-title">
    <h1><%= @article.title %></h1>
  </div>
</div>





<div class="container content">

  <div class="col-md-8 col-md-offset-2 article">



    <br>


          <div class="col-xs-12 article-text">

            <p><%= @article.text.html_safe %></p>

            <% if is_author? %>
              <div class="text-right">
                <%= link_to raw("<span class='glyphicon glyphicon-pencil'>Editar</span>"), edit_article_path(@article), class: "btn btn-default"  %>
                <%= link_to raw("<span class='glyphicon glyphicon-trash'>Eliminar</span>"), @article, method: :delete, confirm: "Esta seguro de eliminar este artículo?", class: "btn btn-danger"   %>
              </div>
            <% end %>

          </div>







    <hr>
    <h2 class="text-center">Comentarios sobre este artículo</h2>
    <div class="comments">
      <%= render @article.comments %>
    </div>

    <hr>

    <% if user_signed_in? %>
    <div class="col-sm-10 col-sm-offset-1">
      <div id="errors_show" ></div>
      <h4>Agregar un comentario:</h4>
      <%= render "comments/form" %>

    </div>
    <% end %>


  </div>



</div>





</body>
</html>

