<div class="row article-list-item">

  <div class="col-sm-2">
    <%= image_tag article.try(:image), height: '120', width: '140' %>
  </div>
  <div class="col-sm-10">
    <%= link_to article do %>
      <p><span>Recomendado por el staff de Super Blog</span> - hace 10 minutos </p>
      <h3 class="list-group-item-heading"><%= article.title %></h3>
      <p><%= truncate(article.text, omission: "...", length: 50) %></p>
    <% end %>
      <p class="author-info"><b><%= article.user.name %></b> - 5 minutos de lectura</p>
  </div>

</div>


