<div class="row article-list-item">

  <div class="col-sm-2">
    <%= image_tag("https://unsplash.imgix.net/uploads/14120938606568dde6e2b/c9e42240?q=75&fm=jpg&s=30cfed70f59bbfce34b374e629bb5f84", height: '120', width: '140') %>
  </div>
  <div class="col-sm-10">
    <%= link_to article do %>
      <p><span>Recomendado por el staff de Super Blog</span> - hace 10 minutos </p>
      <h3 class="list-group-item-heading"><%= article.title %></h3>
      <p><%= truncate(article.text, omission: "...", length: 50) %></p>
    <% end %>
      <p class="author-info"><b><%= article.user.name %></b> - 5 minutos de lectura</p>
  </div>

</div>


