<div class="row article-list-item">

  <div class="col-sm-4">
    <%= image_tag article.try(:image), width: '100%' %>
  </div>
  <div class="col-sm-8 article-text-preview">
    <%= link_to article do %>
      <h3 class="list-group-item-heading"><%= article.title %></h3>
      <p><%= truncate(article.text, omission: "...", length: 150) %></p>
    <% end %>
      <p class="author-info"><b><%= article.user.name %></b> - 5 minutos de lectura</p>
  </div>

</div>


