<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

     <%= render ("layouts/navbar") %>

  <div id="main">


    <%#= render ("layouts/navbar_medium") %>

    <div class="col-sm-8 col-sm-offset-2">
      <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end %>
    </div>

      <%= yield %>

    <hr>
    <div class="footer">
      <a href="#">Un link</a>
      <a href="#">Un link</a>
      <a href="#">Un link</a>
      <a href="#">Un link</a>
    </div>
  </div>

</body>
</html>
